.rq-select {
  cursor: pointer;
  background-color: white;
  border: 0;
  border: {
    color: $c-light-80;
    radius: $br-5;
    style: solid;
    width: rem(1);
  }
  font-size: rem(16);
  padding: rem(8);
  margin: 0 rem(10) 0 rem(10);
  width: 100%;
}
